
<% unless user_signed_in? %>
  <div class="overview-area" asset_path("top.jpg")> 
    <h1>Biztube-output</h1>
    <p>隙間時間に効率よく勉強したい方に向けた<br>ビジネスYouTube特化型のアウトプットサービス</p>
    <div class="search-form-area">
    </div>
  </div>
<% end %>

<% unless user_signed_in? %>
  <div class="about-service">
    <h1>Biztube-outputのサービス</h1>
    <h2>アウトプットと情報共有コミュニティ</h2>
    <h2 class="border-line">なぜアウトプットをするのか?</h2>
    <p>「インプットが3に対してアウトプットが7」。<br>これが記憶をもっとも効率化する比率だと脳科学の研究で明らかになっています。</p>
    <p>昨今のYouTubeの流行により隙間時間にも気軽に学ぶ環境が増えました。<br>それなのに、「なかなか勉強の成果が出ない」「記憶に残らない」と感じている人も多いのではないでしょうか。</p>
    <p>せっかく学んだ知識を"自分のモノ"にしてみませんか？</p>
  </div>
<% end %>

<% unless user_signed_in? %>
  <div class="invitation">
    <h1>今すぐアウトプットをはじめましょう!</h1>
    <div class="btn-top">
      <div class="signup">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-signup" %>
      </div>
      <div class="signin">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-signin" %>
      </div>
    </div>
  </div>
<% end %>